body{
    background-color: #3d3d3d;
}

nav{
    border-radius: 20px;
    background-color: #212121;
    color: white;
}
header{
    width:100%;
}
ul{
    justify-content: space-between;
    display: flex;
    list-style-type: none;
}
li{
    border-radius: 10px;
    padding:4.5%;
}
a{
    border-radius: 15px;
    padding:8px
}
a:hover{
    background-color: #3d3d3d;

}